<table class="table text-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Team One</th>
        <th scope="col">Team Two</th>
        <th scope="col">Score One</th>
        <th scope="col">Score Two</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table table-white" *ngFor="let match of matches">
      <tr >
        <td scope="row">{{match._id}}</td>
        <td scope="row">{{match.teamOne}}</td>
        <td>{{match.teamTwo}}</td>
        <td>{{match.scoreOne}}</td>
        <td>{{match.scoreTwo}}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="goToEdit(match._id)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(match._id)">Delete</button>
            <button type="button" class="btn btn-warning" (click)="goToDisplay(match._id)">Display</button>
        </td>
      </tr>
     
    </tbody>
  </table>
