

<div class="col-lg-4 mb-4">
    <div class="custom-media d-block">
      <div class="img mb-4">
        <img src="assets/images//img_1.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="text">
        
        <h3 class="mb-4"><a href="#"> Name : {{playerInput.playerName}}</a></h3>
        <p> Number : {{playerInput.playerNbr}}</p>
        <p>Age : {{playerInput.playerAge}}</p>
    
      
      </div>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-danger" (click)="deletePlayer(playerInput._id)"> Delete</button>
            </div>
</div>   



