

    <div class="col-lg-4 mb-4">
        <div class="custom-media d-block">
          <div class="img mb-4">
            <img src="assets/images//img_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            
            <h3 class="mb-4"><a href="#"> {{teamInput.teamName}}</a></h3>
            <p>{{teamInput.teamFondation}}</p>
            <p>{{teamInput.teamStadivons}}</p>
            <p>{{teamInput.teamOwner}}</p>
          
          </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-danger" (click)="deleteTeam(teamInput._id)"> Delete</button>
                </div>
   </div>   


